.file-viewer-wrapper {
  position: relative;
  background-color: #202020;
  margin: 0;
  padding: 0;
  height: 100%;
  border: none;
  box-sizing: border-box;
  flex-shrink: 0;
  font-size: 0;
  canvas {
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
  }
  .scale-item {
    transform-origin: center center;
    position: absolute;
    cursor: grab;
  }
}

.file-viewer-content {
  position: relative;
  height: 100%;
  border: none;
  box-sizing: border-box;
  
  &.move .scale-item {
    cursor: grabbing;
  }
}

.file-viewer-tool {
  position: absolute;
  z-index: 10;
  left: 0;
  bottom: 10px;
  right: 0px;
  span {
    background-color: #606060;
    display: inline-block;
    min-width: 30px;
    min-height: 30px;
    line-height: 30px;
    font-size: 12px;
    padding: 0 10px;
    border-radius: 4px;
    overflow: hidden;
    color: white;
    margin: 0 5px;
  }
}
.file-viewer-tool-body {
  background-color: #444444;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  display: inline-block;
}


.file-viewer-pdf-tool-box {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  user-select: none;
  
  span,b {
    background-color: yellow;
    font-size: 12px;
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;

  }
}